<!DOCTYPE html>  
<html>
    <head>
        <title>Resume Remix - Prototype </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
    </head>
    <body>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/upload">Upload Resume/Job Posting</a></li>
                <li><a href="/playground">Prompt Playground</a></li>
				<li><a href="/eval">Evaluate Resume vs. Posting</a></li>
            </ul>
        </nav>

        <div>
            <h2>&nbsp;<br>&nbsp;<br></h2>
        </div>
		<h2>{{msg}}</h2>

        <div>
            <img src="{{ url_for('static', filename='ball.gif') }}" alt="Ball GIF" />
        </div>

		
    </body>
</html>